[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
pillow = "*"
django-cors-headers = "*"
dj-rest-auth = "*"
drf-extra-fields = "*"
celery = "*"
django-allauth = "0.56.1"
redis = "*"
flower = "*"
social-auth-app-django = "*"
rest-social-auth = "*"
drf-social-oauth2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
